@font-face {
	font-family: 'SourceCodeProRegular';
	src: url('fonts/SourceCodePro-Regular.otf.woff');
	src: local('SourceCodePro Regular'), local('SourceCodePro'), url('fonts/SourceCodePro-Regular.otf.woff') format('truetype');
}
body	{
  font-family: 'SourceCodeProRegular';
	background: #CC3300;
}

a, h2	{ color: #CC3300; }

h1, h2	{
	font-family: 'SourceCodeProRegular';
	margin: 0;
}

h1	{
	border-bottom:
	2px solid #CC3300;
}

h2	{
	font-size: 2em;
	font-weight: bold;
}

h3	{ color: #CC3300;}
li	{ color: #CC3300;}
dl	{ color: #CC3300;}
p	{ color: #CC3300;}

#edit-form{
	color: #CC3300;
}

#links{
	float: left;
}

#logout-link{
	float: right;
}

#nav {
	width: 100%;
	margin: 0 0 1em 0;
	padding: 0;
	list-style: none;
	background-color: #CC3300;
}

#nav #banner {
	float: left;
	font-weight:bold;
}

#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	color: #FFFF66;
	border-right: 2px solid #999966;
	}

#nav li a:hover {
	color:#CC3300;
	background-color: #FFFF66;
	}

.label {
	color: #CC3300;
	font-size: 1em;
}

.footer {
	font-size: .8em;
}

.forms {
	color: #CC3300;
}

.navbar{
	border-bottom: 5px solid #999966;
	border-top: 5px solid #999966;
	border-left: 5px solid #999966;
	border-right: 5px solid #999966;
}

.remember {
	font-size: .8em;
	color: #CC3300;
}

.pagination {
	float: right;
}

.pagination li a {
	background: #FFFF66;
	border-bottom: 2px solid #999966;
	border-top: 2px solid #999966;
	border-left: 2px solid #999966;
	border-right: 2px solid #999966;
}

.page {
	margin: 1em auto;
	width: 75%;
	border: 5px solid #999966;
  padding: 0.8em;
	background: #FFFF66;
	}

.page-header {
	color: #CC3300;
}


.post-body {
	color:#CC3300;
	font-weight: bold;
}

.post-date {
	font-size: .8em;
	color: #CC3300;
}

.container {
	text-align: center;
}

.flash {
	text-align: center;
	margin: 2em auto;
	background: #CC3300;
	color: #FFFF66;
	border: 5px solid #FFFF66;
	font-family: 'SourceCodeProRegular';
	width: 25em;
	padding: 0.5em;
	}

.error {
	background: #f0d6d6;
	padding: 0.5em;
	}
