<ul class="posts">
  {% for post in posts %}
    <div class="page">
      <div class="post-area">
        <h2>{{post.title}}</h2>
        <div class="post-date"> {{ moment(post.timestamp).fromNow() }}</div><br><br>
        <div class="post-body">
          {% if post.body_html %}
            {{post.body_html|safe}}
          {% else %}
            {{post.body}}
          {% endif %}
        </div><br>
        <div class="delete">
          <a href="{{ url_for('main.delete', post_id=post.id) }}">Delete</a>
          <a href="{{ url_for('.post', id=post.id) }}">
            <span class="label">Permalink</span>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
</ul>
