{% extends "base.html" %}
{% block page_content %}
  <div class="page">
    <p>
      I'm a 27-year-old programmer from Little Rock, Arkansas. When I'm not cutting
      up meat and helping run a restaurant, I spend my time coding and tinkering with
      computers.<br><br>

      I enjoy building software and love to work in Python, but I have familiarity
      with Java (Android, mainly), Javascript, C, and Go. I grew up a Windows power
      user, but these days, I feel most at home at a UNIX terminal.<br><br>

      I'm passionate about cooking and food and teach cooking classes for a local
      education cooperative.<br><br>
    </p>
  </div>
{% endblock %}
