{% extends "base.html" %}
{% import "_macros.html" as macros %}


<head>
  {% block title %}
  {% if title %}
    {{title}} - Home
  {% else %}
    perSimmons - Home
  {% endif %}
  {% endblock %}
</head>

{% block page_content %}

  {% if current_user.is_authenticated() %}
    <div class="page">
      <ul class="forms">
        <form method="POST" id="post-form" name="add">
          {{form.csrf_token}}
          <p id="add-post">
            {{ wtf.quick_form(form) }}
          </p>
        </form>
      </ul>
    </div>
  {% endif %}

  {% include '_posts.html' %}
  <div>
    <div class="pagination">
      {{ macros.pagination_widget(pagination, '.index') }}
    </div>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
